# ~/.local/ProfileX/lib/myshrc/x.rc
#
# AUTHOR     Snakevil Zen <zsnakevil@gmail.com>
# COPYRIGHT  © 2011 Snakevil.in.

# {{{ Implies `xcd'.

xcd() {
  local path
  local code
  path=`'xquery' "$@"`
  code=$?

  [ 0 -ne $code ] && return $code

  cd "${path}"

  return 0
}

# }}}

# {{{ Supports bash-completion.

_x() {
  COMPREPLY=()

  [ "$1" = "$3" ] || return 0

  local list=`'xls' 2> /dev/null | 'awk' '"Total"!=$1{print $1}'`
  local cur="$2"

  [ "xcd" = "$1" -o "xrm" = "$1" ] && {
    [ '-' = "${cur:0:1}" ] || {
      COMPREPLY=( $( compgen -W "${list}" -- "${cur}" ) )
      return 0
    }
  }

  COMPREPLY=( $( compgen -W '--help' -- "${cur}" ) )
  return 0
}

complete -F _x x xad xcd xls xrm

# }}}

# vim:ft=sh:fenc=utf-8:ff=unix:tw=75:ts=2:sts=2:et:ai:si
# vim:nowrap:sw=2:nu:nuw=4:so=5:fen:fdm=marker
