# ~/.profilex/aliasz
#
# AUTHOR     Snakevil Zen <zsnakevil@gmail.com>
# COPYRIGHT  © 2011 Snakevil.in.

# {{{ Highlights cmds' response.

which egrep > /dev/null && alias egrep='egrep --color=auto'
which fgrep > /dev/null && alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'

case `uname -s` in
  Linux )
    platform="linux"
    ;;
  *[Bb][Ss][Dd] )
    platform="bsd"
    ;;
  Darwin )
    platform="bsd"
    ;;
  * )
    platform="unknown"
    ;;
esac
[ 0 -lt `ls --version 2> /dev/null | grep GNU | wc -l` ] \
  && platform="linux"

if [ "bsd" = "${platform}" ]; then
  alias ls='ls -FG'
elif [ "linux" = "${platform}" ]; then
  if [ "cygwin" = "${TERM}" ]; then
    alias ls='ls -F --color=auto --show-control-chars'
  else
    alias ls='ls -F --color=auto'
  fi
fi
unset platform

which colordiff > /dev/null && alias diff='colordiff -u' \
  || alias diff='diff -u'

# }}}

# {{{ Formats cmds' response for human-reading.

which df > /dev/null && alias df='df -Th'
which du > /dev/null && alias du='du -ch --time'
which free > /dev/null && alias free='free -m'

alias la='ll -A'
alias ll='ls -hl'

alias more='less'

which ps > /dev/null \
  && alias ps='ps -ewwo"user,tty,pid,ppid,state,etime,pcpu,pmem,time,args"'

# }}}

# {{{ Ensures operations' security for file-system.

alias cp='cp -ai'

alias mkdir='mkdir -p'

alias mv='mv -i'
alias rm='rm -i'

# }}}

# {{{ Shortcuts for habits of cmds.

which sudo > /dev/null && alias su='sudo -s'

which vim > /dev/null && alias vi='vim'
alias v='vi'

# }}}

# {{{ Declares extra aliases for common tasks.

COLORSx="echo -e '\e[1m1\e[0m\e[2m2\e[0m\e[3m3\e[0m\e[4m4\e[0m"
COLORSx="${COLORSx}\e[5m5\e[0m\e[6m6\e[0m\e[7m7\e[0m\e[8m8\e[0m';"
COLORSx="${COLORSx}echo -e '\e[30m30\e[31m31\e[32m32\e[33m33\e[34m34"
COLORSx="${COLORSx}\e[35m35\e[36m36\e[37m37\e[39m39\e[0m';"
COLORSx="${COLORSx}echo -e '\e[40m40\e[41m41\e[42m42\e[43m43\e[44m44"
COLORSx="${COLORSx}\e[45m45\e[46m46\e[47m47\e[49m49\e[0m'"
alias ansicolors=$COLORSx
unset COLORSx

USERx=$USER
[ -z "${SUDO_USER}" ] || USERx=$SUDO_USER
GROUPx=`id -gn "${USERx}"`
alias own="chown -cRh ${USERx}:${GROUPx}"
unset USERx
unset GROUPx

# }}}

# {{{ Loads custom extra aliases.

if [ -r "${HOME}/.aliasx" ]
then
  . "${HOME}/.aliasx"
fi

if [ -r "${HOME}/.aliasrc" ]
then
  . "${HOME}/.aliasrc"
fi

# }}}

# vim:ft=sh:fenc=utf-8:ff=unix:tw=75:ts=2:sts=2:et:ai:si
# vim:nowrap:sw=2:nu:nuw=4:so=5:fen:fdm=marker
