# ~/.profilex/myshrc.d/colors.rc
#
# AUTHOR     Snakevil Zen <zsnakevil@gmail.com>
# COPYRIGHT  © 2011 Snakevil.in.

# {{{ Highlights the LS result.

if which dircolors > /dev/null; then
  if [ -r "${HOME}/.profilex/dircolors" ]; then
    eval `dircolors -b "${HOME}/.profilex/dircolors"`
  else
    eval `dircolors -b`
  fi
fi

# }}}

# {{{ Highlights the LESS result if possible.

export PAGER="less -M -N"

LESSOPENx="/share/source-highlight/src-hilite-lesspipe.sh"
if [ -x "/usr${LESSOPENx}" ]; then
    export LESSOPEN="| /usr${LESSOPENx} %s"
    export LESS=' -R '
elif [ -x "/opt/local${LESSOPENx}" ]; then
    export LESSOPEN="| /opt/local${LESSOPENx} %s"
    export LESS=' -R '
fi
unset LESSOPENx

# }}}

# {{{ Highlights the MANPAGEs.

# begins BLINKing.
export LESS_TERMCAP_mb=$'\e[5;37m'
# begins BOLD.
export LESS_TERMCAP_md=$'\e[1;36m'
# returns NORMAL.
export LESS_TERMCAP_me=$'\e[0m'
# begins STANDOUT-MODE.
export LESS_TERMCAP_so=$'\e[1;44;33m'
# ends STANDOUT-MODE.
export LESS_TERMCAP_se=$'\e[0m'
# begins UNDERLINE.
export LESS_TERMCAP_us=$'\e[1;33m'
# ends UNDERLINE.
export LESS_TERMCAP_ue=$'\e[0m'

# }}}

# {{{ Defines standard colors for further usage.

CNone='\e[0m'
COLORS="echo -e 'CNone\t\t${CNone}ANSICOLORS${CNone}\te[0m';"
CHigh='\e[1m'
COLORS="${COLORS}echo -e 'CHigh\t\t${CHigh}ANSICOLORS${CNone}\te[1m';"
CItalic='\e[3m'
COLORS="${COLORS}echo -e 'CItalic\t\t${CItalic}ANSICOLORS${CNone}\te[3m';"
CUnder='\e[4m'
COLORS="${COLORS}echo -e 'CUnder\t\t${CUnder}ANSICOLORS${CNone}\te[4m';"
CBlink='\e[5m'
COLORS="${COLORS}echo -e 'CBlink\t\t${CBlink}ANSICOLORS${CNone}\te[5m';"
CReverse='\e[7m'
COLORS="${COLORS}echo -e 'CReverse\t${CReverse}ANSICOLORS${CNone}\te[7m';"
CInvisible='\e[8m'
COLORS="${COLORS}echo -e 'CInvisible\t${CInvisible}ANSICOLORS${CNone}\te[8m';"
CThrough='\e[9m'
COLORS="${COLORS}echo -e 'CThrough\t${CThrough}ANSICOLORS${CNone}\te[9m';"
COLORS="${COLORS}echo -e '\t\t----------';"
CBlack='\e[0;30m'
COLORS="${COLORS}echo -e 'CBlack\t\t${CBlack}ANSICOLORS${CNone}\te[0;30m';"
CMaroon='\e[0;31m'
COLORS="${COLORS}echo -e 'CMaroon\t\t${CMaroon}ANSICOLORS${CNone}\te[0;31m';"
CGreen='\e[0;32m'
COLORS="${COLORS}echo -e 'CGreen\t\t${CGreen}ANSICOLORS${CNone}\te[0;32m';"
COlive='\e[0;33m'
COLORS="${COLORS}echo -e 'COlive\t\t${COlive}ANSICOLORS${CNone}\te[0;33m';"
CNavy='\e[0;34m'
COLORS="${COLORS}echo -e 'CNavy\t\t${CNavy}ANSICOLORS${CNone}\te[0;34m';"
CPurple='\e[0;35m'
COLORS="${COLORS}echo -e 'CPurple\t\t${CPurple}ANSICOLORS${CNone}\te[0;35m';"
CTeal='\e[0;36m'
COLORS="${COLORS}echo -e 'CTeal\t\t${CTeal}ANSICOLORS${CNone}\te[0;36m';"
CSilver='\e[0;37m'
COLORS="${COLORS}echo -e 'CSilver\t\t${CSilver}ANSICOLORS${CNone}\te[0;37m';"
CDefault='\e[0;39m'
COLORS="${COLORS}echo -e 'CDefault\t${CDefault}ANSICOLORS${CNone}\te[0;39m';"
COLORS="${COLORS}echo -e '\t\t----------';"
CGray='\e[1;30m'
COLORS="${COLORS}echo -e 'CGray\t\t${CGray}ANSICOLORS${CNone}\te[1;30m';"
CRed='\e[1;31m'
COLORS="${COLORS}echo -e 'CRed\t\t${CRed}ANSICOLORS${CNone}\te[1;31m';"
CLime='\e[1;32m'
COLORS="${COLORS}echo -e 'CLime\t\t${CLime}ANSICOLORS${CNone}\te[1;32m';"
CYellow='\e[1;33m'
COLORS="${COLORS}echo -e 'CYellow\t\t${CYellow}ANSICOLORS${CNone}\te[1;33m';"
CBlue='\e[1;34m'
COLORS="${COLORS}echo -e 'CBlue\t\t${CBlue}ANSICOLORS${CNone}\te[1;34m';"
CFuchsia='\e[1;35m'
COLORS="${COLORS}echo -e 'CFuchsia\t${CFuchsia}ANSICOLORS${CNone}\te[1;35m';"
CAqua='\e[1;36m'
COLORS="${COLORS}echo -e 'CAqua\t\t${CAqua}ANSICOLORS${CNone}\te[1;36m';"
CWhite='\e[1;37m'
COLORS="${COLORS}echo -e 'CWhite\t\t${CWhite}ANSICOLORS${CNone}\te[1;37m';"
COLORS="${COLORS}echo -e '\t\t----------';"
COLORS="${COLORS}echo -e '\t\t\e[40mANSICOLORS${CNone}\te[0;40m';"
COLORS="${COLORS}echo -e '\t\t\e[41mANSICOLORS${CNone}\te[0;41m';"
COLORS="${COLORS}echo -e '\t\t\e[42mANSICOLORS${CNone}\te[0;42m';"
COLORS="${COLORS}echo -e '\t\t\e[43mANSICOLORS${CNone}\te[0;43m';"
COLORS="${COLORS}echo -e '\t\t\e[44mANSICOLORS${CNone}\te[0;44m';"
COLORS="${COLORS}echo -e '\t\t\e[45mANSICOLORS${CNone}\te[0;45m';"
COLORS="${COLORS}echo -e '\t\t\e[46mANSICOLORS${CNone}\te[0;46m';"
COLORS="${COLORS}echo -e '\t\t\e[47mANSICOLORS${CNone}\te[0;47m';"
COLORS="${COLORS}echo -e '\t\t\e[48mANSICOLORS${CNone}\te[0;48m';"

alias ansicolors=$COLORS
unset COLORS

# }}}

# vim:ft=sh:fenc=utf-8:ff=unix:tw=75:ts=2:sts=2:et:ai:si
# vim:nowrap:sw=2:nu:nuw=4:so=5:fen:fdm=marker
