# ~/.local/ProfileX/myshrc.d/alias.rc
#
# AUTHOR     Snakevil Zen <zsnakevil@gmail.com>
# COPYRIGHT  © 2011 Snakevil.in.

# {{{ Formats cmds' response for human-reading.

alias cat='cat -sb'

which df > /dev/null && alias df='df -Th'
which du > /dev/null && alias du='du -ch --time'
which free > /dev/null && alias free='free -m'

alias la='ll -A'
alias ll='ls -hl'

alias more='less'

which ps > /dev/null && \
  alias ps='ps -ewwo"user,tty,pid,ppid,state,etime,pcpu,pmem,time,args"'

# }}}

# {{{ Ensures operations' security for file-system.

alias cp='cp -ai'

alias mkdir='mkdir -p'

alias mv='mv -i'
alias rm='rm -i'

# }}}

# {{{ Shortcuts for habits of cmds.

which git > /dev/null && alias g='git'

which sudo > /dev/null && alias su='sudo -s'

which vim > /dev/null && alias vi='vim'
alias v='vi'

# }}}

# {{{ Declares extra aliases for common tasks.

USERx=$USER
[ -z "${SUDO_USER}" ] || USERx=$SUDO_USER
GROUPx=`id -gn "${USERx}"`
alias own="chown -cRh ${USERx}:${GROUPx}"
unset USERx
unset GROUPx

# }}}

# {{{ Loads custom extra aliases.

if [ -r "${HOME}/.profilexrc/alias.rc" ]
then
  . "${HOME}/.profilexrc/alias.rc"
fi

# }}}

# vim:ft=sh:fenc=utf-8:ff=unix:tw=75:ts=2:sts=2:et:ai:si
# vim:nowrap:sw=2:nu:nuw=4:so=5:fen:fdm=marker
